{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load ipims_tags %}

{# Doctor Dashboard
   Used as homepage for doctors
 #}
{% block content %}
	{% if request.user.is_authenticated and request.user|has_group:'doctor' %}
		<div class="row">
			<div class="col-md-8">
				<h2 class="page-heading"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>  Doctor Dashboard</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Current Patients</h3>
					</div>
					<div>
						{% if patients %}
							<table class="table table-hover panel-table">
							{% for patient in patients %}
								<tr class="clickable-row" data-href='/patient/{{ patient.pk }}'>
									<td>
											{% if patient.profile_picture %}
												<img src="{% static patient.profile_picture.url %}" class="img-responsive" /><br />
											{% else %}
												<img src="{% static '/static/images/default_avatar.jpg' %}" class="img-responsive" />
											{% endif %}
									</td>
									<td class="col-md-8">
										<h4>{{ patient.get_full_name }}</h4>
									</td>
								</tr>
							{% endfor %}
							</table>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="col-md-5">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">Today's Schedule</h2>
							</div>
							<table class="table table-hover">
								<thead>
									<tr>
										<th>Time</th>
										<th>Patient</th>
										<th>Health Concern</th>
									</tr>
								</thead>
								<tbody>
									{% if appointments_today %}
									{% for appointment in appointments_today %}
									<tr class="clickable-row" data-href='/appointments/{{ appointment.pk }}'>
										<td> {{ appointment.date.time }}</td>
										<td> <a href="/patient/{{ appointment.patient.pk }}">{{ appointment.patient.get_full_name }}</a></td>
										<td> {{ appointment.health_condition }} </td>
									</tr>
									{% endfor %}
									{% else %}
									<tr><td>No appointments scheduled.</td></tr>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h2 class="panel-title">Recent Medical Records</h2>
							</div>
									{% if records %}
										<table class="table table-hover">
											<thead>
												<tr>
													<th>Time</th>
													<th>Patient</th>
													<th>Health Concern</th>
												</tr>
											</thead>
											<tbody>
											{% for record in records %}
												<tr class="	-row" data-href='/appointments/{{ record.pk }}'>
													<td> {{ record.date_created }}</td>
													<td> <a href="/patient/{{ appointment.patient.pk }}">{{ record.patient.get_full_name }}</a></td>
													<td> {{ record.health_condition }} </td>
												</tr>
											{% endfor %}
											</tbody>
										</table>
									{% else %}
										<div class="panel-body">
											<div class="alert alert-info">
												No recently created medical records.
											</div>
										</div>
									{% endif %}
								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>

	{% else %}

	{% endif %}

{% endblock %}