{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load stat_tags %}
{% load ipims_tags %}
{% block content %}

<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Alert Emergency Room</h1>
				<form method='POST' action=''>
					{% csrf_token %}
					{{ form|crispy }}
					<input class = "btn btn-danger" type="submit" value="{% trans 'Alert Emergency Room' %}" />
				</form>
			</div>
		</div>
	</div>
</div>


<script>
 	$(window).load(function() {
 		console.log("FIRED")
 		$option = $("<option></option>").attr("value", -1).text("Must select health condition first...")
 		$("#id_doctor").empty().attr("disabled", true).append($option);
 	});
	$("#id_health_condition").change(function() {
		$selected_health_condition = $("#id_health_condition option:selected").val() - 1;
		$option = $("<option></option>").attr("value", -1).text("---------");
		$("#id_doctor").empty().attr("disabled", false).append($option);
		{% if er_doctors %}
				{% for doctor in er_doctors %}
					console.log('{{ doctor }}')
					$option = $("<option></option>").attr("value", {{ doctor.pk }}).text("{{doctor.get_full_name}}")
					$("#id_doctor").append($option);
				{% endfor %}
		{% else %}
		console.log("ERROR: er_doctors = None.")
		{% endif %}
	});
</script>
{% endblock %}