{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load ipims_tags %}
{% block content %}
{% load stat_tags %}

{% block extrahead %}
{{ form.media }}
{% endblock %}
<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-body">
				<h2>Schedule Appointment</h2>
				<form method='POST' action=''>
					{% csrf_token %}
					{{ form|crispy }}
					<div class="pull-right" >
						<div class="row">
							<div class="col-md-4">
								<a href="/patient/{{ patient.pk }}">Cancel</a>
							</div>
							<div class="col-md-2">
								<input class = "btn btn-primary" type="submit" value="{% trans 'Schedule' %}" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
 	$(window).load(function() {
 		console.log("FIRED")
 		$option = $("<option></option>").attr("value", -1).text("Must select health condition first...")
 		$("#id_doctor").empty().attr("disabled", true).append($option);
 	});
	$("#id_health_condition").change(function() {
		$selected_health_condition = $("#id_health_condition option:selected").val() - 1;
		$option = $("<option></option>").attr("value", -1).text("---------");
		$("#id_doctor").empty().attr("disabled", false).append($option);
		{% if health_conditions_count %}
		{% for i in health_conditions_count|get_range %}
			if($selected_health_condition == {{ i }}){
				{% with h=health_conditions|lookup:i %}
				{% for doctor in h.doctors.all %}
					console.log('{{ doctor }}')
					$option = $("<option></option>").attr("value", {{ doctor.pk }}).text("{{doctor.get_full_name}}")
					$("#id_doctor").append($option);
				{% endfor %}
				{% endwith %}
			}
		{% endfor %}
		{% endif %}
	});
</script>
{% endblock %}