{% extends "base.html" %}
{% load ipims_tags %}
{% load i18n %}

{% block content %}
<a class="btn btn-default" href="{% url 'patient_profile' prescription.patient.pk %}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>  Back to Profile</a><p></p>
<div class="row">
<div class="col-sm-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Prescription Details</h3>
	  </div>
	  <div class="panel-body">
	    <b>Date:</b> {{ prescription.date }}<br/>
	    <b>Patient:</b> <a href="{% url 'patient_profile' prescription.patient.pk %}">{{ prescription.patient }}</a><br/>
	    <b>Medication:</b> {{ prescription.medication }} {{ prescription.dosage }}mg<br/>
	    <b>Quantity:</b> {{ prescription.quantity }}<br/>
		<b>Doctor:</b> {{ prescription.doctor }}<br/>
		<b>Filled on:</b> {% if prescription.filled_on  %}
		{{ prescription.filled_on }}
		{% else %}
		--
		{% endif %}

	  </div>
	</div>
	{% if prescription.filled_on  %}
	{% else %}
	{% if not prescription.is_expired %}
	{% if request.user.is_authenticated %}
	{% if request.user|has_group:'pharmacist' %}
	<a class="btn btn-default" href="fill/">Fill</a>
	{% endif %}
	{% if request.user|has_group:'doctor' %}
	<a class="btn btn-default" href="delete/">Cancel Prescription</a> <a class="btn btn-primary" href="edit/">Edit Prescription</a>	
	{% endif %}
	{% endif %}
	{% endif %}
	{% endif %}
	</div>
</div>
{% endblock %}